<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<div class="container-fluid mt--7">
    <div class="row">
        <div class="col-xl-12 mb-12 mb-xl-0">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mb-0">Productos</h3>
                        </div>
                        <div class="col text-right">
                            <a href="#/products" class="btn btn-md btn-primary" (click)="save()">Save</a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <!-- Projects table -->
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Imagen</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Familia</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Descripcion</th>
                                <th scope="col"></th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let p of products">
                                <th scope="row">
                                    <input type="checkbox" (change)="checked($event, p)">
                                </th>
                                <td>
                                    <div>
                                        <input class="fileInput" type="file" class="btn btn-md btn-primary"
                                            accept="image/*" (change)="handleFileInput($event.target.files, p)">
                                    </div>
                                </td>
                                <td>
                                    <input class="form-control" (value)="p.name" [(ngModel)]="p.name" type="text">
                                </td>
                                <td>
                                    <select name="select" class="btn btn-md btn-primary" [(ngModel)]="p.familyId">
                                        <option [value]="f.id" *ngFor="let f of family">{{f.name}}</option>
                                    </select>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input class="form-control" (value)="p.costPrice" [(ngModel)]="p.costPrice"
                                            type="number">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <textarea class="form-control" (value)="p.description"
                                            [(ngModel)]="p.description" id="area" rows="4"></textarea>
                                    </div>
                                </td>
                                <td class="delete">
                                    <button (click)="delete(p)" class="btn btn-md btn-danger"><i class="fas fa-trash"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br>
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mb-0">Crear Producto</h3>
                        </div>
                        <div class="col text-right">
                            <a href="#/products" class="btn btn-md btn-primary" (click)="createNewProduct()">Crear</a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <!-- Projects table -->
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Imagen</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Familia</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Descripcion</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div>
                                        <input class="fileInput" type="file" class="btn btn-md btn-primary"
                                            accept="image/*" (change)="newImage($event.target.files)">
                                    </div>
                                </td>
                                <td>
                                    <input class="form-control" (value)="newFamilyName" [(ngModel)]="newProductName"
                                        type="text">
                                </td>
                                <td>
                                    <select name="select" class="btn btn-md btn-primary" [(ngModel)]="newProductFamily">
                                        <option [value]="f.id" *ngFor="let f of family">{{f.name}}</option>
                                    </select>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input class="form-control" [(ngModel)]="newProductPrice"
                                            type="number">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <textarea class="form-control" value="Descripción..."
                                            [(ngModel)]="newProductDesc" id="area" rows="4"></textarea>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>